# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
sozoenv/

# Packaging
sozo.egg-info/
*.egg-info/
build/
dist/

# Databases
*.sqlite3
*.db
data/
.sozo/

# OS junk
.DS_Store
Thumbs.db

# Sōzō Exports
# Ignore any exported timelines to keep personal data off GitHub
*.md
!README.md
!MANUAL.md